/*
BEM (Block Element Modifier)
It's a CSS naming structure convention.

BLOCK: Standalone component that is meaninful on its own.
ELEMENT: Part of a block that has no standalone meaning.
MODIFIER: A different version of a block or an element

.block{}
.block__element{}
.block__element--modifier{}
*/

/* GLOBAL RESET */
html {
    font-size: 62.5%;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color:var(--black);
    line-height: 1.7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link, a:visited {
    text-decoration: none;
}

:root {
    /* colors */
    --primary-color: #4c6ef5;
    --secondary-color: #fa5252;
    --white: #f8f9fa;
    --black: #343a40;
    --light-gray: #dee2e6;
    --dark-gray: #ced4da;

    --shadow: 0px 5px 10px 1px rgba(0,0,0,0.2);

    /*  borders */
    --border-radius: 8px;

    /* spacing */
    --spacing-s: 1rem;
    --spacing-m: 2rem;
    --spacing-b: 3rem;
}

.icon--b {
    font-size: 40px;
}

.separator-h {
    border-bottom: 1px solid var(--dark-gray);
    width: 100%;
}

.separator-v {
    border-right: 1px solid var(--dark-gray);
    height: 100%;
}

/* GRID SYSTEM */
.grid {
    display: grid;
}

.grid-col--1 {
    grid-template-columns: 1fr;
}

.grid-col--2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-col--3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-col--4 {
    grid-template-columns: repeat(4, 1fr);
}
