 
form {
  margin: 0 auto;
  background: transparent;
  display: grid;
  grid-template-rows: repeat(4, 100px);
  padding: 60px 45px 30px;
  border-radius: 16px;
  box-shadow: -1px 2px 20px 5px rgb(0 0 0 / 31%) inset;
}
label {
  letter-spacing: 2px;
}
input[type="text"],
input[type="password"] {
  margin: 7px 0 7px;
  border: 1px solid transparent;
  background: rgb(215, 221, 220);
  height: 36px;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  font-size: 1.1rem;
  padding-left: 10px;
  transition: 0.2s;
  cursor: pointer;
}
input[type="submit"] {
  border: none;
  background: linear-gradient(65deg, #16d9e7, #5ef9a4);
  width: 50%;
  margin: 12px auto 0;
  padding: 10px;
  border-radius: 150px;
  font-size: 1.2rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s ease;
}
input[type="submit"]:hover {
  filter: brightness(100%);
  transform: translateX(5px);
}
