@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

/* Variables */
:root {
  --font-size: 1rem;
}
.dark-mode {
  --navbar-color: #fff;
  --navbar-bg-color: blue;
}

/* La Navbar */
h1,
p,
ul {
  color: var(--white);
}
ul {
  list-style: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 1.8rem;
}
.navbar__links {
  display: flex;
}
.navbar__link {
  padding: 0 10px;
}
/*.navbar__link > a {*/
/*  color: var(--white);*/
/*  text-decoration: none;*/
/*}*/
.burger {
  display: none;
}

.navbar__logo img {
  max-width: 20rem;
}

/*  Mobile First (La Base...) */

@media screen and (max-width: 767.98px) {
  .navbar__links {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 0;
    height: calc(100vh - 65px);
    position: absolute;
    top: 65px;
    right: 0;
    background: var(--primary-color);
    transform: translateX(110%);
    transition: all 0.5s ease-in-out;
  }
  .show-nav .navbar__links {
    width: 100vw;
    transform: translateX(0);
  }
  .navbar__link {
    transform: translateX(101%);
    transition: all 0.5s ease-in-out;
  }
  .show-nav .navbar__link {
    transform: translateX(0);
  }
  .navbar__link > a {
    display: block;
    padding: 1rem;
    font-size: 1.6rem;
    transition: all 0.4s ease-in-out;
  }
  .navbar__link > a:hover {
    padding-left: 2rem;
    letter-spacing: 5px;
  }

  /* Toggle menu  (3 ou 4 ché pas )*/
  .burger {
    display: block;
    position: relative;
    padding: 0;
    width: 45px;
    height: 45px;
    /*border: 1px solid white;*/
    /*border-radius: 10px;*/
    background: transparent;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 45px;
    height: 4px;
    border-radius: 3px;
    background: var(--navbar-color);
    transition: all 0.5s ease-in-out;
  }
  .bar::before,
  .bar::after {
    content: "";
    width: 45px;
    height: 4px;
    position: absolute;
    left: 0;
    background: var(--navbar-color);
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
  }
  .bar::before {
    transform: translateY(-12px);
  }
  .bar::after {
    transform: translateY(12px);
  }
  .show-nav .bar {
    width: 0;
    background: transparent;
  }
  .show-nav .bar::before {
    transform: rotate(45deg);
  }
  .show-nav .bar::after {
    transform: rotate(-45deg);
  }

  /*  Animations de OUF !!!! */
  .show-nav .first {
    transition: all 0.5s ease-out;
  }
  .show-nav .second {
    transition: all 0.6s ease-out;
  }
  .show-nav .third {
    transition: all 0.7s ease-out;
  }
  .show-nav .four {
    transition: all 0.8s ease-out;
  }
  .show-nav .fifth {
    transition: all 0.9s ease-out;
  }
}

/*  Bonus Essai display medium */
@media screen and (min-width: 768px) {
  .navbar__link > a::after {
    display: block;
    content: "";
    width: 0;
    height: 1px;
    background: var(--navbar-color);
    transition: width 0.4s;
  }
  .navbar__link:hover > a::after {
    width: 100%;
  }
}

/***********************FOOTER***************************/
footer {
  background-color: var(--primary-color);
  background: radial-gradient(circle at 30% 107%, #FDF497 0%, #FDF497 5%, #FD5949 45%,#D6249F 60%,#285AEB 90%);
  padding: var(--spacing-b) 0;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-b);
}
a:link, a:visited {
  color: var(--white);
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: none;
}

nav a {
  text-transform: uppercase;
}

.footer--content {
  display: flex;
  gap: var(--spacing-m);
}
